<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学员录播考勤</title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <table class="table table-condensed" border="0">
                <tr>
                    <td>
                        <table class="table-condensed" border="0">
                            <tr>
                                <!-- 时间 -->
                                <td nowrap="nowrap" colspan=2>
                                    <input type="text" class="insertTime_start" readonly="readonly"
                                           @keyup.enter="query" placeholder="开始时间">
                                    -
                                    <input type="text" class="insertTime_end" readonly="readonly"
                                           @keyup.enter="query" placeholder="结束时间">
                                </td>
                                <!-- 班型 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.classtypeName"
                                               readonly="readonly" placeholder="班型" @click="classTypeLayerShow">
                                    </div>
                                </td>
                                <!-- 课程 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.courseName"
                                               readonly="readonly"
                                               placeholder="课程" @click="courseLayerShow">
                                    </div>
                                </td>
                                <!-- 校区 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.deptName" readonly="readonly"
                                               placeholder="校区" @click="deptLayerShowQuery">
                                    </div>
                                </td>
                                <!-- 视频名称 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.videoName"
                                               placeholder="输入视频名称">
                                    </div>
                                </td>
                                <!-- 班级名称 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.className"
                                               placeholder="输入班级名称">
                                    </div>
                                </td>
                                <!-- 班级名称 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.teacherName"
                                               placeholder="输入班主任名称">
                                    </div>
                                </td>
                                <!-- 学员名称 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.userName"
                                               placeholder="输入学员名称">
                                    </div>
                                </td>
                                <!-- 手机号码 -->
                                <td>
                                    <div class="clo-md-3">
                                        <input type="text" class="form-control" v-model="q.mobile" placeholder="输入手机号码">
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <a class="btn btn-default" @click="clearQuery">重置</a>
                        <a class="btn btn-primary" @click="query"><i class='fa fa-search'></i>&nbsp;查询</a>
                        <a class="btn btn-primary" @click="logDetails"><i class="fa fa-th-list"></i>&nbsp;查看日志</a>
                    </td>
                </tr>
            </table>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>
    
    <!--查看日志-->
    <div v-show="showLogList" class="panel panel-default">
        <div class="grid-btn">
            <a class="btn btn-warning" @click="backMain">&nbsp;返回</a>
        </div>
        <table id="jqGridLogDetails"></table>
        <div id="jqGridPagerLogDetails"></div>
    </div>
</div>
<script src="${rc.contextPath}/js/logAtten/attendRecordView.js?_${date.systemTime}"></script>
#parse("layer/classTypeLay.html")
#parse("layer/courseLay.html")
#parse("layer/deptLay.html")
</body>
</html>