<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	<plugins>
		<!-- 数据权限 -->
		<plugin interceptor="io.renren.mybatis.interceptor.DataInterceptor" >
			<property name="product"
					  value="adl_course,"/>
		</plugin>
	</plugins>
</configuration>
