<!DOCTYPE html>
<html>
<head>
<title>统考成绩</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
	 
			#if($shiro.hasPermission("examinationresult:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("examinationresult:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end 
			#if($shiro.hasPermission("examinationresult:import"))
			<a class="btn btn-primary" @click="importModal"><i class="fa fa-plus"></i>&nbsp;导入模板下载</a>
			<a class="btn btn-primary" @click="importData"><i class="fa fa-plus"></i>&nbsp;导入</a>
			#end
			#if($shiro.hasPermission("examinationresult:export"))
			<a class="btn btn-danger" @click="exportData" style="float: right"><i class="fa fa-plus"></i>&nbsp;导出</a>
			#end
		</div>
		
			<table class="table table-condensed" border="0">
				<tr border="0"> 
 					<td><label for="name">学员ID：</label></td>
					<td><input type="text" class="form-control"  v-model.trim="q.userId" id="userId" ></td>
					<td><label for="name">姓名:</label></td>
					<td><input type="text" class="form-control"  v-model.trim="q.nickName" id="nickName"></td>
					<td><label for="name">手机号码：</label></td>
					<td><input type="text" class="form-control" v-model.trim="q.mobile"  id="mobile"></td>
					<td><label for="name">班主任:</label></td>
					<td><input type="text" class="form-control" v-model.trim="q.sysUserName" readonly="readonly" placeholder="班主任" @click="selectTeacher"></td>
 					<td><label>成绩类型:</label></td>
					<td>
						<div class="form-group">
							<select  class="form-control" v-model.trim="q.examType">
								<option value="">全部</option>
								<option value="0">非补考</option>
								<option value="1">补考</option>
							</select>
						</div>
					</td>
					<td><a class="btn btn-primary" @click="query">查询</a></td>
					<td><a class="btn btn-primary" @click="queryClear">清空条件</a></td>
				</tr>
			</table>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
						<div class="form-group" >
			   	<div class="col-sm-2 control-label">姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.nickName" disabled="true"/>
			    </div>
		</div>
								    			<div class="form-group">
			   	<div class="col-sm-2 control-label">报考单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.registrationNo"  disabled="true"/>
			    </div>
			</div>
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">报考课程</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.courseName" disabled="true"/>
			    </div>
			</div>
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">报考省份</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.bkAreaName" disabled="true"/>
			    </div>
			</div>
									    			<div class="form-group">
			   	<div class="col-sm-2 control-label">报考时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.scheduleDate" disabled="true"/>
			    </div>
			</div>
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">报考班型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.classtypeName" disabled="true"/>
			    </div>
			</div>
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">统考成绩</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="examinationResult.score"  />
			    </div>
			</div>
					
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">成绩截图</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model.trim="examinationResult.img" placeholder="点击上传图片" readonly="readonly" onclick="hq.core.upload(null,'vm.examinationResult.img','上传文件');"/>
			    </div>
			</div>
										<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
			<!-- 上传文件弹窗 -->
		<div id="uploadExcel" style="display: none;">
			<form name="form_uploadImg" action="" enctype="multipart/form-data">
				<input id="file_data"  type="file"  name="file_data" style="height: 35px; width: 200px;" /> 
			</form>
		</div>
</div>
  
<script src="${rc.contextPath}/js/examinationresult/examinationresult.js?_${date.systemTime}"></script>
#parse("layer/teacherLay.html") 
#parse("../../statics/plugins/upload/upload.html")
</body>
</html>