<!DOCTYPE html>
<html>
<head>
<title>资料库</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showType == 1">
		<div class="grid-btn">
		<!-- coursematerial:list,coursematerial:info,coursematerial:save,coursematerial:delete,coursematerial:update -->
			#if($shiro.hasPermission("coursematerial:list"))
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.materialName" @keyup.enter="query" placeholder="名称">
			</div>
			<a class="btn btn-primary" @click="query"><i class='fa fa-search'></i>&nbsp;查询</a>
			#end
			#if($shiro.hasPermission("coursematerial:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("coursematerial:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			 
			#if($shiro.hasPermission("coursematerial:update"))
			<a class="btn btn-primary" @click="reloadAll"><i class="fa fa-pencil-square-o"></i>&nbsp;清空班型</a>
			#end
			
			
			#if($shiro.hasPermission("coursematerial:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<a class="btn btn-primary" @click="materialList"><i class='fa fa-search'></i>&nbsp;查询资料库明细</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="showType == 2" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseMaterial.materialId" placeholder="主键"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseMaterial.materialName" placeholder="名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">课程</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseMaterial.courseName" readonly="readonly" placeholder="点击选择课程"  @click="courseLayerShow"/ >
			    </div>
			</div>
	<!-- 		<div class="form-group">
			   	<div class="col-sm-2 control-label">班型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseMaterial.courseType" readonly="readonly" placeholder="点击选择班型"  @click="courseLayerShow"/ >
			    </div>
			</div>
			 -->
				<div class="form-group">
			   	<div class="col-sm-2 control-label">班型</div>
			   	<div class="col-sm-10">
			      <select class="form-control" multiple="multiple" placeholder="班型" v-model="courseMaterial.classtypeIdArray">
					<option v-for="option in classTypeList" v-bind:value="option.value">{{ option.name }}</option>
				  </select>
				   
			    </div>
			</div>
			
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" /> &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回" />
			
				</div>
			</form>
	</div>
	<!-- 录播课列表 -->
		<div v-show="showType == 3">
			<div class="grid-btn">
				<a class="btn btn-primary" @click="refreshMaterialQuery"><i class="fa fa-search"></i>&nbsp;刷新</a> 
				<a class="btn btn-primary" @click="recordAddZ"><i class="fa fa-plus"></i>&nbsp;新增类型</a> 
				<a class="btn btn-primary" @click="recordAddJ"><i class="fa fa-plus"></i>&nbsp;新增明细</a> 
				<a class="btn btn-primary" @click="recordUpdate"><i class="fa fa-pencil-square-o"></i>&nbsp;修改类型</a>
				<a class="btn btn-primary" @click="recordDetailUpdate"><i class="fa fa-pencil-square-o"></i>&nbsp;修改明细</a>
				<a class="btn btn-primary" @click="editHtml"><i class="fa fa-pencil-square-o"></i>&nbsp;编辑文本</a>
				<a class="btn btn-primary" @click="recordDelete"><i class="fa fa-trash-o"></i>&nbsp;删除类型</a>
				<a class="btn btn-primary" @click="recordDetailDelete"><i class="fa fa-trash-o"></i>&nbsp;删除明细</a>
				<a class="btn btn-primary" @click="goBackMaterialList"><i class="fa fa-trash-o"></i>&nbsp;返回</a>
			</div>
		<!-- 	<div class="row">
				<div class="col-md-3">.col-md-4</div>
				<div class="col-md-8">
				</div>
			</div> -->
			<!-- <table id="recordjqGrid"></table>
			<div id="recordjqGridPager"></div> -->
			
			<table id="materialTable" data-mobile-responsive="true" data-click-to-select="true">
				<thead>
					<tr>
						<th data-field="selectItem" data-checkbox="true"></th>
					</tr>
				</thead>
			</table>
		</div>
	<!-- 文本编辑器 -->
	<div v-show="showType == 4">
	<form class="form-horizontal">
			 <div class="form-group">
			   	<div class="col-sm-2 control-label">指南html内容</div>
			    <div class="col-sm-10">
			    <textarea id="material_detail" name="content" style="width:1000px;height:400px;" >
                </textarea>
                </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveHtmlEditor" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="goBackMaterialDetailList" value="返回"/>
			</div>
			</form>
		</div>
	
	<!-- 资料库的类型 -->
	<div id="materialTypeLayer" style="display: none;">
		<form class="form-horizontal">
		<div class="form-group">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">资料库类型名</div>
			   	<div class="col-sm-10">
			   		<input type="text" class="form-control" v-model="materialtype.obj.materialTypeName"  placeholder="资料库类型名" >
			    </div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			   		<input type="text" class="form-control" v-model="materialtype.obj.orderNum"  placeholder="排序" >
			    </div>
			</div>
		</div>
		</form>
	</div>
	<!-- 资料库的明细 -->
	<div id="materialDetailLayer" style="display: none;">
		<form class="form-horizontal">
		<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="materialDetail.obj.detailId" placeholder="主键"/>
			    </div>
			</div>
		<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="materialDetail.obj.detailName" placeholder="名称"/>
			    </div>
			</div>
			<div class="form-group">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			   		<input type="text" class="form-control" v-model="materialDetail.obj.orderNum"  placeholder="排序" >
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">地址(不填自动生成)</div>
			   	<div class="col-sm-6">
			   	 <input type="text" class="form-control" v-model="materialDetail.obj.url" placeholder="地址(不填自动生成)"/>
			    </div>
			    <a class="btn btn-default" onclick="hq.core.upload(null,'vm.materialDetail.obj.url','上传文件');">选择地址</a>
			</div>
		</div>
		</form>
	</div>
	</div>
</div>

<script src="${rc.contextPath}/js/course/coursematerial.js?_${date.systemTime}"></script>
<script charset="utf-8" src="${rc.contextPath}/statics/editor/kindeditor.js"></script>
<script charset="utf-8" src="${rc.contextPath}/statics/editor/zh_CN.js"></script>

<script>
        KindEditor.ready(function(K) {
                window.editor = K.create("textarea[id='material_detail']",{
                    resizeType : 1,
                    allowPreviewEmoticons: false,
                    allowImageUpload:true,//允许上传图片
                    allowFileManager:true, //允许对上传图片进行管理
                    uploadJson:'../courseguide/uploadCourseGuide', //上传图片的java代码，只不过放在jsp中
                    /* fileManagerJson:'../../statics/editor/file_manager_json.jsp', */
                    afterUpload: function(){this.sync();}, //图片上传后，将上传内容同步到textarea中
                    afterBlur: function(){this.sync();},   ////失去焦点时，将上传内容同步到textarea中
                    /* items : [
                        'fontname','fontsize', '|','forecolor', 'hilitecolor','bold', 'italic','underline',
                        'removeformat','|', 'justifyleft','justifycenter', 'justifyright','insertorderedlist',
                        'insertunorderedlist','|', 'emoticons','link','media','|','image']  */  
                });
        });
</script>
#parse("layer/courseLay.html")
#parse("../../statics/plugins/upload/upload.html")
</body>
</html>