<!DOCTYPE html>
<html>
<head>
<title>学习计划</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showModule1">
		<div class="grid-btn">
			<table  class="table table-condensed" border="0">
				<tr border="0">
					<td><label for="name">学习计划单号:</label></td>
					<td><input type="text" class="form-control" v-model="q.userplanClassNo" @keyup.enter="query" placeholder="学习计划单号"></td>
					<td><label for="name">学员姓名:</label></td>
					<td><input type="text" class="form-control" v-model="q.userName" @keyup.enter="query" placeholder="学员姓名"></td>
					<td><label for="name">学员手机号:</label></td>
					<td><input type="text" class="form-control" v-model="q.mobile" @keyup.enter="query" placeholder="学员手机号"></td>
					<td><label for="name">部门</label></td>
						<td><input type="text" class="form-control" v-model="q.deptNameList" readonly="readonly" placeholder="点击选择部门" @click="deptLayerShowQuery"></td>
				</tr>
			</table>
			<a class="btn btn-default" @click="clearQuery">重置</a>
			<a class="btn btn-primary" @click="query"><i class='fa fa-search'></i>&nbsp;查询</a>
			#if($shiro.hasPermission("courseuserplanclass:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:audited"))
			<a class="btn btn-primary" @click="audit"><i class="fa fa-question-circle"></i>&nbsp;审核</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:addBatchByClassplanId"))
			<a class="btn btn-primary" @click="addBatchShow"><i class="fa fa-hand-paper-o"></i>&nbsp;批量生成学习计划-会计</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:addBatchByClassplanIdAndClassId"))
			<a class="btn btn-primary" @click="addBatchShowZK"><i class="fa fa-hand-paper-o"></i>&nbsp;批量生成学习计划-自考</a>
			#end
			#if($shiro.hasPermission("courseuserplanclass:save"))
			<a class="btn btn-primary" @click="exportTemplate"><i class="fa fa-trash-o"></i>&nbsp;下载导入模板</a>
		 	<a class="btn btn-primary" @click="uploadExcelMethod"><i class="fa fa-upload"></i>&nbsp;导入数据</a>
			#end
			
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="showModule2" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseUserplanClass.userplanClassId" placeholder="主键"/>
			    </div>
		    </div>
		    <div class="form-group">
			   	<div class="col-sm-2 control-label">学习计划单号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseUserplanClass.userplanClassNo" readonly="readonly" placeholder="计划单号"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">订单编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseUserplanClass.orderNo" readonly="readonly" @click="selectUserplan" placeholder="请选择订单编号"/>
			      <!-- <input type="hidden" class="form-control" v-model="courseUserplanClass.userplanId" readonly="readonly"/> -->
			    </div>
			    <!-- <a class="btn btn-default" @click="selectUserplan">请选择</a> -->
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">考试间时段</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseUserplanClass.examScheduleName" readonly="readonly" @click="selectExamSchedule" placeholder="请选择考试时间段"/>
			      <!-- <input type="hidden" class="form-control" v-model="courseUserplanClass.examScheduleId" readonly="readonly" placeholder="考试时间段"/> -->
			    </div>
			    <!-- <a class="btn btn-default" @click="selectExamSchedule">请选择</a> -->
			</div>
			
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">学员姓名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="courseUserplanClass.userName" placeholder="学员姓名" readonly="readonly" style="width:150px"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">备注</div>
				<div class="col-sm-10">
					<textarea class="form-control" v-model="courseUserplanClass.remark" style="width:371px;height:100px;" placeholder="备注信息不得超过50个字">
               		</textarea>
				</div>
			</div>
			<!-- ---------------------------------ITEM 子表--------------------------------- -->
			<div class="form-group">
				<div class="col-sm-2 control-label">学习计划详情</div>
			    <div class="tab-pane col-sm-10 fade in active">
				    <div id="itemButton">
					    <a class="btn btn-primary" @click="userplanDetailMultShow"><i class="fa fa-plus"></i>&nbsp;新增(多)</a>
					    <!-- <a class="btn btn-primary" @click="userplanDetailOneShow"><i class="fa fa-plus"></i>&nbsp;新增(单)</a> -->
					    <a class="btn btn-primary" @click="updateDetail"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
					    <a class="btn btn-primary" @click="idel"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				    </div>
				    <table id="detailGrid"></table>
				    <div id="detailGridPager"></div>
			    </div>
			</div>
			<div class="form-group" id="commitButton">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
			
			<div class="form-group" id="auditButton">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="accept" value="通过" /> &nbsp;&nbsp;
					<input type="button" class="btn btn-warning" @click="reject" value="未通过" />&nbsp;&nbsp;
					<input type="button" class="btn btn-warning" @click="reload" value="返回" />
			</div>
		</form>
	</div>
	
	<!-- 修改时间 -->
	<div id="dateLayer" style="display: none;">
		<form class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-2 control-label">入课时间</div>
				<div class="col-sm-8">
					<input type="text" class="form-control datetimepicker_start" id="detailStartTime" v-model="detail.obj.timestamp" readonly="readonly" placeholder="入课时间" style="width:150px"/>
				</div>
			</div>
		</form>
	</div>
	<!-- 排课弹窗 -->
	<div id="userplanDetaillayer" style="display: none;">
		<div class="grid-btn">
			<!-- <table  class="table table-condensed" border="0">
				<tr border="0">
					<td><label for="name">排课计划:</label></td>
					<td><input type="text" class="form-control" v-model="q.classplanName" @keyup.enter="queryUserplanDetailByName" placeholder="排课计划"></td>
					<td></td>
				</tr>
			</table> -->
			<table  border="0">
				<tr class="row" >
					<td class=""><label for="name">排课计划:</label></td>
					<td><input type="text" class="form-control" v-model="q.classplanName" @keyup.enter="queryUserplanDetailByName" placeholder="排课计划"></td>
					<!-- 按钮 -->
					<td class="grid-btn">
						<a class="btn btn-default" @click="queryUserplanDetailByName">查询</a> 
					</td>
				</tr>
			</table>
		</div>
		<table id="userplanDetailGrid"></table>
		<div id="userplanDetailGridPager"></div>
	</div>
	<!-- 批量生成学习计划-会计 -->
	<div v-show="showModule3" class="panel panel-default">
		<div class="panel-heading">批量生成学习计划-会计</div>
		<input type="text" class="form-control" v-model="addBatch.classplanName" readonly="readonly" placeholder="点击选择排课" @click="classplanLayerShow">
		<input type="text" class="form-control" v-model="addBatch.className" readonly="readonly" placeholder="点击选择班级" @click="classLayerShow">
		<div id="itemButton">
			<input type="button" class="btn btn-primary" @click="addBatchCom" value="批量新增" /> &nbsp;&nbsp;
			<input type="button" class="btn btn-warning" @click="reload" value="返回" />
		</div>
	</div>
	<!-- 批量生成学习计划-自考 -->
	<div v-show="showModule4" class="panel panel-default">
		<div class="panel-heading">批量生成学习计划-自考</div>
		<input type="text" class="form-control" v-model="addBatch.classplanName" readonly="readonly" placeholder="点击选择排课" @click="classplanLayerShowRows">
		<div class="col-sm-5 control-label" v-for="(item,index) in addBatch.classplanTempList">
        	{{ item.name }} <i-button type="info" @click="deleteClassplanItem(index)">×</i-button>
        </div>
		<input type="text" class="form-control" v-model="addBatch.className" readonly="readonly" placeholder="点击选择班级" @click="classLayerShow">
		<div class="col-sm-5 control-label" v-for="(item,index) in addBatch.classTempList">
        	{{ item.name }} <i-button type="info" @click="deleteClassItem(index)">×</i-button>
        </div>
		<input type="text" class="form-control" v-model="addBatch.examScheduleName" readonly="readonly" placeholder="点击选择考试时段" @click="examScheduleLayerShow">
		<div id="itemButton">
			<input type="button" class="btn btn-primary" @click="addBatchComZK" value="批量新增" /> &nbsp;&nbsp;
			<input type="button" class="btn btn-warning" @click="reload" value="返回" />
		</div>
	</div>
	
		   		<!-- 上传文件弹窗 -->
	<div id="uploadExcel" style="display: none;">
		<form name="form_uploadImg" action="" enctype="multipart/form-data">
			<input id="file_data"  type="file"  name="file_data" style="height: 35px; width: 200px;" /> 
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/course/courseuserplanclass.js?_${date.systemTime}"></script>
#parse("layer/userplanLay.html")
#parse("layer/examScheduleLay.html")
#parse("layer/deptLay.html")
#parse("layer/deptQueryLay.html")
#parse("layer/classplanLay.html")
#parse("layer/classLay.html")
</body>
</html>