<!DOCTYPE html>
<html>
<head>
<title>回访配置表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("returnvisitconfig:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("returnvisitconfig:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("returnvisitconfig:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			#if($shiro.hasPermission("returnvisitconfig:resume"))
			<a class="btn btn-primary" @click="resume"><i class="fa fa-play"></i>&nbsp;恢复</a>
			#end
			#if($shiro.hasPermission("returnvisitconfig:pause"))
			<a class="btn btn-primary" @click="pause"><i class="fa fa-pause"></i>&nbsp;暂停</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
						<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">编号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="returnVisitConfig.id" placeholder="编号"/>
			    </div>
		</div>
								    			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品线</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" id="prodectName" v-model.trim="returnVisitConfig.productName" readonly="readonly" placeholder="点击选择产品线" @click="selectProduct"/>
			    </div>
			</div>
											    			<div class="form-group">
			   	<div class="col-sm-2 control-label">生成频率天数</div>
			   	<div class="col-sm-10">
			      <input type="number" class="form-control" v-model="returnVisitConfig.returnNum" placeholder="生成频率天数"/>
			    </div>
			</div>
											    			<!--<div class="form-group">-->
			   	<!--<div class="col-sm-2 control-label">更新人</div>-->
			   	<!--<div class="col-sm-10">-->
			      <!--<input type="text" class="form-control" v-model="returnVisitConfig.updatePersonName" placeholder="更新人"/>-->
			    <!--</div>-->
			<!--</div>-->
											    			<!--<div class="form-group">-->
			   	<!--<div class="col-sm-2 control-label">更新时间</div>-->
			   	<!--<div class="col-sm-10">-->
			      <!--<input type="text" class="form-control" v-model="returnVisitConfig.updateTime" placeholder="更新时间"/>-->
			    <!--</div>-->
			<!--</div>-->
										<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/sys/returnvisitconfig.js?_${date.systemTime}"></script>
#parse("../../statics/plugins/upload/upload.html")
#parse("layer/productLay.html")
</body>
</html>