<!DOCTYPE html>
<html>
<head>
<title>app课程banner档案</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("appcoursebanner:list"))
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.titleName" @keyup.enter="query" placeholder="标题">
			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.productName" @keyup.enter="query" placeholder="产品线">
			</div>
			<a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			#end
			#if($shiro.hasPermission("appcoursebanner:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("appcoursebanner:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("appcoursebanner:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.id" placeholder="主键"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">标题</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.title" placeholder="标题"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品线</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.productName" readonly="readonly" placeholder="点击选择产品线" @click="selectProduct"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">图片</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.pic" placeholder="图片" readonly="readonly" onclick="hq.core.upload(null,'vm.appCourseBanner.pic');"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">链接</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.url" placeholder="链接"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">展示位置</div>
                <div class="col-sm-10">
				<label class="radio-inline">
				  <input type="radio" name="showPlace" value="kuaijiapp_course" v-model="appCourseBanner.showPlace"/> 会计APP课程
				</label>
				<label class="radio-inline">
				  <input type="radio" name="showPlace" value="kuaijipc_index" v-model="appCourseBanner.showPlace"/> 会计官网首页
				</label>
				<label class="radio-inline">
				  <input type="radio" name="showPlace" value="zikaopc_index" v-model="appCourseBanner.showPlace"/> 自考官网首页
				</label>
				<label class="radio-inline">
				  <input type="radio" name="showPlace" value="zikaoapp_course" v-model="appCourseBanner.showPlace"/> 自考APP课程
				</label>
				<label class="radio-inline">
				  <input type="radio" name="showPlace" value="qianyinliapp_course" v-model="appCourseBanner.showPlace"/> 牵引力APP课程
				</label>
                </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="appCourseBanner.orderNum" placeholder="排序"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/mall/appcoursebanner.js?_${date.systemTime}"></script>
#parse("../../statics/plugins/upload/upload.html")
#parse("layer/productLay.html")
</body>
</html>