<!DOCTYPE html>
<html>
<head>
<title>班型档案表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("mall:classtype:list"))
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.classtypeName" @keyup.enter="query" placeholder="班型名称">
			</div>
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.productName" @keyup.enter="query" placeholder="产品线名称">
			</div>
			<a class="btn btn-primary" @click="query"><i class='fa fa-search'></i>&nbsp;查询</a>
			#end
			#if($shiro.hasPermission("mall:classtype:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("mall:classtype:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("mall:classtype:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			<!-- #if($shiro.hasPermission("mall:classtype:resume"))
			<a class="btn btn-primary" @click="resume"><i class="fa fa-play"></i>&nbsp;启用</a>
			#end
			#if($shiro.hasPermission("mall:classtype:pause"))
			<a class="btn btn-primary" @click="pause"><i class="fa fa-pause"></i>&nbsp;禁用</a>
			#end -->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
		
			<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">班型id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="mallClassType.classtypeId" placeholder="班型id"/>
			    </div>
		    </div>
			
			
		    <div class="form-group">
			   	<div class="col-sm-2 control-label">班型名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="mallClassType.classtypeName" placeholder="班型名称"/>
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">产品线</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="mallClassType.productName" readonly="readonly" placeholder="点击选择产品线" @click="selectProduct"/>
			    </div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label">备注</div>
				<div class="col-sm-10">
					<textarea class="form-control" v-model="mallClassType.remake" style="width:371px;height:100px;" placeholder="备注信息不得超过50个字">
               		</textarea>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2 control-label">状态</div> 
				<label class="radio-inline">
				  <input type="radio" name="status" value="0" v-model="mallClassType.status"/> 禁用
				</label>
				<label class="radio-inline">
				  <input type="radio" name="status" value="1" v-model="mallClassType.status"/> 正常
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/mall/classtype.js?_${date.systemTime}"></script>
#parse("layer/productLay.html")
</body>
</html>