<!DOCTYPE html>
<html>
<head>
<title></title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-2 control-label">组合课程ID</div>
					<div class="col-sm-10">
						<input id="mallGoodsId" type="text" class="form-control" v-model.trim="givingCourses.mallGoodsId" placeholder="点击选择要组合的课程" readonly="readonly" @click="givingCoursesShow" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">商品名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model.trim="givingCourses.mallGoodsName" placeholder="商品名称" readonly="readonly" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">NC商品ID</div>
					<div class="col-sm-10">
						<input id="ncCommodityId" type="text" class="form-control" v-model.trim="givingCourses.ncCommodityId" placeholder="NC商品ID" disabled="true"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">NC商品名称</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model.trim="givingCourses.ncCommodityName" placeholder="NC商品名称" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label">产品线</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model.trim="givingCourses.productId" readonly="readonly" placeholder="点击选择产品线" @click="productLayerShow">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label" hidden>赠送类型</div>
					<div class="col-sm-10" hidden>
					   <label class="radio-inline" hidden><input type="radio" name="status" value="0" v-model="givingCourses.givingType" disabled="true"/>普通赠送类型</label>
				        <label class="radio-inline" hidden> <input   type="radio" name="status" value="1" v-model="givingCourses.givingType" checked />组合班型</label>
					  
					
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">备注</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" v-model.trim="givingCourses.remark" placeholder="备注" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定" /> &nbsp;&nbsp;
					<input type="button"class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>

<script src="${rc.contextPath}/js/mall/groupcourses.js?_${date.systemTime}"></script>
#parse("layer/goodsInfoLay.html")
#parse("layer/productLay.html")
</body>
</html>