<!DOCTYPE html>
<html>
<head>
<title></title> #parse("sys/header.html")
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
			<div class="form-group">
			 	<table class="table table-condensed" border="0">
						<tr border="0">
							<td><label for="name">学员名称:</label></td>
							<td><input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="学员名称"></td>
							<td><label for="name">身份证:</label></td>
							<td><input type="text" class="form-control" v-model="q.card" @keyup.enter="query" placeholder="身份证"></td>
							<td><label for="name">报读课程:</label></td>
							<td><input type="text" class="form-control" v-model="q.course" @keyup.enter="query" placeholder="报读课程"></td>
						</tr>
						<tr border="0">
						
						 	<td><label for="name">所属校区:</label></td>
							<td>
								<input type="text" class="form-control" id="schoolTextSelect" v-model="q.schoolNameList" readonly="readonly" placeholder="点击选择所属校区" @click="deptLayerShowSelect">
					
							</td>
							<td><label for="name">状态:</label></td>
							<td>
								<select name="status" form="query" class="form-control" v-model="q.sendStatus">
									
									<option v-for="option in statusOptionsSelect" v-bind:value="option.value">  
    						 			{{ option.text }}  
  						 			</option>
  						 			
								</select>
							</td>
							
							<td><label for="name">证书类型:</label></td>
							<td>
								<select name="type" form="query" class="form-control" v-model="q.type">
									
									<option v-for="option in typeOptionsSelect" v-bind:value="option.value">  
    						 			{{ option.text }}  
  						 			</option>
  						 			
								</select>
							</td>
							
						</tr>
						
					</table>
					<a class="btn btn-default" @click="clearQuery">&nbsp;重置</a>
					<a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			
				#if($shiro.hasPermission("mallexpcertificate:save")) <a
					class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				#end #if($shiro.hasPermission("mallexpcertificate:update")) <a
					class="btn btn-primary" @click="update"><i
					class="fa fa-pencil-square-o"></i>&nbsp;修改</a> #end
				#if($shiro.hasPermission("mallexpcertificate:delete")) <a
					class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				#end
				
				#if($shiro.hasPermission("mallexpcertificate:updateStatus")) <a
					class="btn btn-primary" @click="updateStatus"><i class="fa fa-trash-o"></i>&nbsp;编辑状态</a>
				#end
				
				#if($shiro.hasPermission("mallexpcertificate:exportTemplate"))
                <a class="btn btn-primary" @click="exportTemplate"><i class="fa fa-trash-o"></i>&nbsp;下载导入模板</a>
				#end
				 
		     
				#if($shiro.hasPermission("mallexpcertificate:uploadExcelMethod"))
				<a class="btn btn-primary" @click="uploadExcelMethod"><i class="fa fa-upload"></i>&nbsp;导入数据</a>
				#end
				#if($shiro.hasPermission("mallexpcertificate:showViews"))
				<a class="btn btn-primary" @click="showViews"><i class="fa fa-upload"></i>&nbsp;预览</a>
				#end
			</div>	
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
		 	<div v-show="!showView">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal">
			
			 	
			
				<div class="form-group">
					<div class="col-sm-2 control-label">姓名</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="mallExpCertificate.name" placeholder="姓名" maxlength="20" />
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label">手机号</div>
					<div class="col-sm-10">
						<input type="hidden" class="form-control"
							v-model="mallExpCertificate.userId" id="userId" readonly="readonly"  maxlength="11" />
						<input type="text" class="form-control"
							v-model="mallExpCertificate.mobile" id="mobile"  placeholder="手机号"  maxlength="11" onkeyup="value=value.replace(/[^\d]/g,'')"/><!-- @click="userInfoLayerShow" -->
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label">证书类型</div>
					<div class="col-sm-10">
						<select class="form-control" v-model="mallExpCertificate.type" style="width:150px">
				       <option v-for="option in typeOptions" v-bind:value="option.value">  
    						{{ option.text }}  
  						</option>
  						</select>
					</div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-2 control-label">身份证号</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="mallExpCertificate.card" placeholder="身份证号" maxlength="18" onkeyup="value=value.replace(/[^\w\/]/ig,'')"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">报读日期</div>
					<div class="col-sm-10">
						<input type="text" class="form-control exam-Date" id="readdate" readonly="readonly" style="width:150px"
							v-model="mallExpCertificate.readDate" placeholder="报读日期" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">结课日期</div>
					<div class="col-sm-10">
						<input type="text" class="form-control exam-Date" id="enddate" readonly="readonly" style="width:150px"
							v-model="mallExpCertificate.endDate" placeholder="结课日期" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">报读课程</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="mallExpCertificate.course" placeholder="报读课程" maxlength="100" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">经验等级</div>
					<div class="col-sm-10">
					 	<select class="form-control" v-model="mallExpCertificate.exp" style="width:150px">
				       <option v-for="option in expOptions" v-bind:value="option.value">  
    						{{ option.text }}  
  						</option>
			      </select>
					
						
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">证书编号</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="mallExpCertificate.certNo" placeholder="证书编号" maxlength="20" onkeyup="value=value.replace(/[^\w\/]/ig,'')"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">颁发日期</div>
					<div class="col-sm-10">
					
						<input type="text" class="form-control exam-Date" id="senddate" readonly="readonly" style="width:150px"
							v-model="mallExpCertificate.sendDate" placeholder="颁发日期" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">所属校区</div>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="schoolText" v-model="mallExpCertificate.schoolName" readonly="readonly" placeholder="点击选择部门" @click="deptLayerShow">
					
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">发放状态</div>
					<div class="col-sm-10">
						<select class="form-control" v-model="mallExpCertificate.sendStatus" style="width:150px">
				       <option v-for="option in statusOptions" v-bind:value="option.value">  
    						{{ option.text }}  
  						</option>
			      </select>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">主要课程</div>
					<div class="col-sm-10">
						<input type="text" class="form-control"
							v-model="mallExpCertificate.courseRemark" placeholder="主要课程" />
					</div>
				</div>




				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"
						value="确定" /> &nbsp;&nbsp;<input type="button"
						class="btn btn-warning" @click="clearQuery();reload()" value="返回" />
				</div>
			</form>
			</div>
			
			<div v-show="showView">
			<input type="button"
						class="btn btn-warning" @click="reload" value="返回" />
						
			<div v-show="!showType">
			 	{{ mallExpCertificate.name }}同学（身份序证号：{{ mallExpCertificate.card }}），于{{ mallExpCertificate.readDateStr }}至 {{ mallExpCertificate.endDateStr }}，参加 {{ mallExpCertificate.course }}课程学习，已修教学计划规定的全部课程，能力经验等级为 {{ mallExpCertificate.expStr }}，经考核合格，准予结业。
 				主要学习课程：
{{ mallExpCertificate.courseRemark }}

 				证书编号：{{ mallExpCertificate.certNo }}
 				</div>
 				
 				<div v-show="showType">
			 	{{ mallExpCertificate.name }}同学（身份序证号：{{ mallExpCertificate.card }}）

 				证书编号：{{ mallExpCertificate.certNo }}
 				</div>
 				
			</div>
			
		</div>
		<!-- 上传文件弹窗 -->
		<div id="uploadExcel" style="display: none;">
			<form name="form_uploadImg" action="" enctype="multipart/form-data">
				<input id="file_data"  type="file"  name="file_data" style="height: 35px; width: 200px;" /> 
			</form>
		</div>
	</div>

	<script
		src="${rc.contextPath}/js/mall/mallexpcertificate.js?_${date.systemTime}"></script>
 	#parse("layer/deptLay.html")
 	#parse("layer/deptQueryLay.html")
    #parse("layer/userInfoLay.html")
</body>
</html>