<!DOCTYPE html>
<html>
<head>
<title>banner档案</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("webbanner:list"))
			<div class="form-group col-sm-4">
				<input type="text" class="form-control" v-model="q.name" @keyup.enter="query" placeholder="名称">
			</div>
			<a class="btn btn-primary" @click="query"><i class="fa fa-search"></i>&nbsp;查询</a>
			#end
			#if($shiro.hasPermission("webbanner:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("webbanner:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("webbanner:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
			#if($shiro.hasPermission("webbanner:resume"))
			<a class="btn btn-primary" @click="resume"><i class="fa fa-play"></i>&nbsp;启用</a>
			#end
			#if($shiro.hasPermission("webbanner:pause"))
			<a class="btn btn-primary" @click="pause"><i class="fa fa-pause"></i>&nbsp;禁用</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group" style="display:none">
			   	<div class="col-sm-2 control-label">主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webBanner.id" placeholder="主键"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webBanner.name" placeholder="名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">图片</div>
			   	<div class="col-sm-10">
			      <!-- <input type="text" class="form-control" v-model="webBanner.pic" placeholder="图片"/> -->
			      <input type="text" class="form-control" v-model="webBanner.pic" placeholder="图片" readonly="readonly" onclick="hq.core.upload(null,'vm.webBanner.pic');"/>
			    </div>
			</div>
			<!-- <div class="form-group">
			   	<div class="col-sm-2 control-label">排序</div>
			   	<div class="col-sm-10">
			      <input type="number" class="form-control" v-model="webBanner.orderNum" placeholder="排序"/>
			    </div>
			</div> -->
			<div class="form-group">
			   	<div class="col-sm-2 control-label">跳转地址</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webBanner.url" placeholder="跳转地址"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">banner颜色</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webBanner.colourText" placeholder="banner颜色"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">序号</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="webBanner.orderNum" placeholder="序号"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/mall/webbanner.js?_${date.systemTime}"></script>
#parse("../../statics/plugins/upload/upload.html")
</body>
</html>